<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <Title msg="Projeto WECLEVER em Vuejs"/>
      <div v-if="loading == false">
        <img alt="Vue logo" src="./assets/loading.gif">
        <br>
        <span>Aguarde o carregamento das API's</span>
      </div>  
      <div v-else>
        <table v-if="showTable == true">
          <tr class="tr-table">
            <th>{{ tabelaa }}</th>
          </tr>
          <tr v-for="(list_table, index) in list_tables" :key="list_table.index">
            <td v-on:click="clickPerson(index)">{{ list_table.name }}</td>
          </tr>
        </table>
        <div v-if="showTable == false">
          <a v-on:click="clickPerson(0)">Voltar</a>
          <br>
          <br>
            <b>Filmes em que participou: </b>
          <br>
          <br>
          <div v-for="filmClick in filmsClick" :key="filmClick.episode_id">
            <span v-if="urlFilms.includes(filmClick.url)">{{ filmClick.title }}</span>
            <span v-else></span>
          </div>
        </div>
      </div> 
  </div>
</template>

<script>

import axios from 'axios';
import Title from './components/Title.vue'

export default {
  name: 'App',
  data () {
    return {
      loading: false,
      tabelaa: 'Name',
      tabelab: 'Films',
      showTable: true,
      showInfo: true,
      filmsClick: [],
      list_tables: {},
      urlFilms: {
      }
    }
  },
  components: {
    Title
  },
  mounted () {
    this.listPers()
  },
   methods: {
    listPers() {
      const token = 'token'
      const headers = { Authorization: `Bearer ${token}` }
      const webApiUrl = 'https://swapi.dev/api/people/'
      axios.get(webApiUrl, {}, { headers })
      .then((response) => {
        const jsonobjecta = JSON.stringify(response.data)
        const jsonobject = JSON.parse(jsonobjecta)
        this.list_tables = jsonobject.results

        this.listFilms()

      })
    },
    listFilms() {
      const token = 'token'
      const headers = { Authorization: `Bearer ${token}` }
      const webApiUrl = 'https://swapi.dev/api/films/'
      axios.get(webApiUrl, {}, { headers })
      .then((response) => {
        const jsonobjecta = JSON.stringify(response.data)
        const jsonobject = JSON.parse(jsonobjecta)
        this.filmsClick = jsonobject.results
        this.loading = true
        
      })
    },
    clickPerson(index) {
      this.showTable=!this.showTable
      this.urlFilms = this.list_tables[index].films
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

table{
  margin-left: auto;
  margin-right: auto;
}
</style>
